{% extends "page.html" %}

{% block main %}
<main>
    <section class="form">
        <h2 class="section-title visually-hidden">Анкета подбора программы питания</h2>

        <form class="form__form" action="">
            <p class="form__description">
                Заполните анкету и мы подберем<br>
                программу питания для вашего кота
            </p>

            <fieldset class="form__section">
                <label class="form__label">
                    Имя:*
                    <input type="text" placeholder="Барсик" required>
                </label>

                <label class="form__label">
                    Вес (кг):*
                    <input type="text" placeholder="7" required>
                </label>

                <label class="form__label">
                    Возраст (лет):
                    <input type="text" placeholder="7">
                </label>

                <div>
                    <label class="form__label">
                        <input type="radio">
                        Похудение
                    </label>

                    <label class="form__label">
                        <input type="radio">
                        Набор массы
                    </label>

                    <label class="form__label">
                        <input type="radio">
                        Не знаю (нужен ваш совет)
                    </label>
                </div>
            </fieldset>

            <fieldset class="form__section form__section--w-legend">
                <legend>Контактные данные<br>(владельца кота)</legend>

                <label class="form__label">
                    E-mail:*
                    <input type="email" placeholder="kuklachev@gmail.com" required>
                </label>

                <label class="form__label">
                    Телефон:*
                    <input type="tel" placeholder="8 (960) 900-60-90" required>
                </label>
            </fieldset>

            <fieldset class="form__section form__section--w-legend">
                <legend>Комментарий</legend>

                <textarea name="comment" placeholder="Расскажите обо всех повадках кота"></textarea>
            </fieldset>

            <fieldset class="form__section form__section--w-legend">
                <legend>Дополнительно</legend>

                <label class="form__label">
                    <input type="checkbox" checked>
                    Сахорозаменитель
                </label>

                <label class="form__label">
                    <input type="checkbox">
                    Питьевая вода
                </label>

                <label class="form__label">
                    <input type="checkbox">
                    Молоко
                </label>

                <label class="form__label">
                    <input type="checkbox">
                    Витамины
                </label>
            </fieldset>

            <button type="submit">Отправить заявку</button>

            <div>
                <small>* — Обязательные поля</small>
            </div>
        </form>
    </section>
</main>
{% endblock %}
