{% extends "page.html" %}

{% block main %}
<main>
    <section class="form">
        <form action="">
            <p>Заполните анкету и мы подберем программу питания для вашего кота</p>

            <fieldset>
                <label>
                    Имя:*
                    <input type="text" placeholder="Барсик" required>
                </label>

                <label>
                    Вес (кг):*
                    <input type="text" placeholder="7" required>
                </label>

                <label>
                    Возраст (лет):
                    <input type="text" placeholder="7">
                </label>
            </fieldset>

            <fieldset>
                <label>
                    <input type="radio">
                    Похудение
                </label>

                <label>
                    <input type="radio">
                    Набор массы
                </label>

                <label>
                    <input type="radio">
                    Не знаю (нужен ваш совет)
                </label>
            </fieldset>

            <fieldset>
                <legend>Контактные данные (владельца кота)</legend>

                <label>
                    E-mail:*
                    <input type="email" placeholder="kuklachev@gmail.com" required>
                </label>

                <label>
                    Телефон:*
                    <input type="tel" placeholder="8 (960) 900-60-90" required>
                </label>
            </fieldset>

            <fieldset>
                <legend>Комментарий</legend>

                <textarea name="comment" placeholder="Расскажите обо всех повадках кота"></textarea>
            </fieldset>

            <fieldset>
                <legend>Дополнительно</legend>

                <label>
                    <input type="checkbox" checked>
                    Сахорозаменитель
                </label>

                <label>
                    <input type="checkbox">
                    Питьевая вода
                </label>

                <label>
                    <input type="checkbox">
                    Молоко
                </label>

                <label>
                    <input type="checkbox">
                    Витамины
                </label>
            </fieldset>

            <button type="submit">Отправить заявку</button>

            <div>
                <small>* — Обязательные поля</small>
            </div>
        </form>
    </section>
</main>
{% endblock %}
