// Sizes
$mobile-min-width: 320px;
$mobile-hpadding: 20px;
$tablet-min-width: 768px;
$tablet-hpadding: 30px;
$desktop-min-width: 1300px;
$desktop-hpadding: 40px;

// Colors
$primary-color: #68b738;
$primary-dark-color: #65a93c;
$primary-background-color: #fff;
$secondary-background-color: #f2f2f2;
$secondary-background-dark-color: #eaeaea;
$border-1-color: #e6e6e6;
$border-2-color: #d9d9d9;
$border-3-color: #cdcdcd;
$on-primary-color: #fff;
$on-background-color: #444;
$on-background-label-color: #111;
$on-secondary-color: $on-background-color;
$on-secondary-label-color: $on-background-label-color;
$map-background-color: #fef7f1;
$menu-font-color: #111;

// Other
$primary-font: Arial, sans-serif;
$secondary-font: Oswald, 'Arial Narrow', sans-serif;

// CSS Custom Properties
:root {
    --hpadding: #{$mobile-hpadding};    // SCSS bug

    @media (min-width: $tablet-min-width) {
        --hpadding: #{$tablet-hpadding};
    }

    @media (min-width: $desktop-min-width) {
        --hpadding: #{$desktop-hpadding};
    }
}
