// Sizes
$mobile-min-width: 320px
$tablet-min-width: 768px

// Colors
$primary-color: #68b738
$primary-color-dark: #65a93c
$secondary-color: #f2f2f2
$secondary-dark-color: #eaeaea
$border-color-1: #e6e6e6
$border-color-2: #d9d9d9
$border-color-3: #cdcdcd
$background-color: #fff
$on-primary-color: #fff
$on-background-color: #444
$on-background-label-color: #000
$on-secondary-color: $on-background-color
$on-secondary-label-color: $on-background-label-color
$map-background-color: #fef7f1
$menu-font-color: #111

// Other
$primary-font: Arial, sans-serif
$secondary-font: Oswald, 'Arial Narrow', sans-serif
