{% extends "page.html" %}

{% block main %}
<section class="basic-goods">
    <h2 class="section-title visually-hidden">Основные товары</h2>

    <ul class="basic-goods__list">
        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Pro <br>500 г</h3>

            <picture class="basic-goods__image">
                <source media="(min-width: 768px)" srcset="images/products/cat-energy-pro-chicken-500g-tablet.png">
                <img
                    src="images/products/cat-energy-pro-chicken-500g-mobile.jpg"
                    alt="Cat Energy Pro Курица 500г"
                >
            </picture>

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td>500 г</td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td>Курица</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>700 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button basic-goods__button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Pro <br>1000 г</h3>

            <picture class="basic-goods__image">
                <source media="(min-width: 768px)" srcset="images/products/cat-energy-pro-chicken-1000g-tablet.png">
                <img
                    src="images/products/cat-energy-pro-chicken-1000g-mobile.jpg"
                    alt="Cat Energy Pro Курица 1000г"
                >
            </picture>

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td>1000 г</td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td>Курица</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>1000 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button basic-goods__button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Pro <br>500 г</h3>

            <picture class="basic-goods__image">
                <source media="(min-width: 768px)" srcset="images/products/cat-energy-pro-fish-500g-tablet.png">
                <img
                    src="images/products/cat-energy-pro-fish-500g-mobile.jpg"
                    alt="Cat Energy Pro Рыба 500г"
                >
            </picture>

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td>500 г</td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td>Рыба</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>500 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button basic-goods__button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Pro <br>1000 г</h3>

            <picture class="basic-goods__image">
                <source media="(min-width: 768px)" srcset="images/products/cat-energy-pro-fish-1000g-tablet.png">
                <img
                    src="images/products/cat-energy-pro-fish-1000g-mobile.jpg"
                    alt="Cat Energy Pro Рыба 1000г"
                >
            </picture>

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td>1000 г</td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td>Рыба</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>1000 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button basic-goods__button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Slim <br>500 г</h3>

            <picture class="basic-goods__image">
                <source media="(min-width: 768px)" srcset="images/products/cat-energy-slim-buckwheat-500g-tablet.png">
                <img
                    src="images/products/cat-energy-slim-buckwheat-500g-mobile.jpg"
                    alt="Cat Energy Slim Гречка 500г"
                >
            </picture>

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td>500 г</td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td>Гречка</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>500 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button basic-goods__button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Slim <br>1000 г</h3>

            <picture class="basic-goods__image">
                <source media="(min-width: 768px)" srcset="images/products/cat-energy-slim-buckwheat-1000g-tablet.png">
                <img
                    src="images/products/cat-energy-slim-buckwheat-1000g-mobile.jpg"
                    alt="Cat Energy Slim Гречка 1000г"
                >
            </picture>

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td>1000 г</td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td>Гречка</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>1000 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button basic-goods__button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Slim <br>500 г</h3>

            <picture class="basic-goods__image">
                <source media="(min-width: 768px)" srcset="images/products/cat-energy-slim-rice-500g-tablet.png">
                <img
                    src="images/products/cat-energy-slim-rice-500g-mobile.jpg"
                    alt="Cat Energy Slim Рис 500г"
                >
            </picture>

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td>500 г</td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td>Рис</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>500 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button basic-goods__button">Заказать</button>
        </li>

        <li class="basic-goods__show-more">
            <p class="basic-goods__smtext">Показать ещё <br>100500 товаров</p>
            <p class="basic-goods__smdescription">На самом деле вкусов <br>гораздо больше!</p>
            <button type="button" class="button button--grey">Показать все</button>
        </li>
    </ul>
</section>

<section class="extra-goods">
    <h2 class="extra-goods__heading">Дополнительные товары</h2>

    <ul class="extra-goods__list">
        <li class="extra-goods__item">
            <h3 class="extra-goods__title">Сахарозаменитель</h3>
            <div class="extra-goods__size">1 упаковка (100 г)</div>
            <div class="extra-goods__price">100 Р.</div>
            <button type="button" class="button extra-goods__button">Заказать</button>
        </li>

        <li class="extra-goods__item">
            <h3 class="extra-goods__title">Питьевая вода</h3>
            <div class="extra-goods__size">5 литров</div>
            <div class="extra-goods__price">50 Р.</div>
            <button type="button" class="button extra-goods__button">Заказать</button>
        </li>

        <li class="extra-goods__item">
            <h3 class="extra-goods__title">Молоко</h3>
            <div class="extra-goods__size">1 литр</div>
            <div class="extra-goods__price">100 Р.</div>
            <button type="button" class="button extra-goods__button">Заказать</button>
        </li>

        <li class="extra-goods__item">
            <h3 class="extra-goods__title">Витамины</h3>
            <div class="extra-goods__size">1 упаковка (30 г)</div>
            <div class="extra-goods__price">300 Р.</div>
            <button type="button" class="button extra-goods__button">Заказать</button>
        </li>
    </ul>

    <div class="extra-goods__promotion">
        <span>
            Закажите всё<br>
            и получите чехол для<br>
            кота в подарок!
        </span>
    </div>
</section>
{% endblock %}
