{% extends "page.html" %}

{% block main %}
<section class="basic-goods">
    <h2 class="section-title visually-hidden">Основные товары</h2>

    <ul class="basic-goods__list">
        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Pro 500 г</h3>
            <img
                src="images/products/cat-energy-pro-chicken-500g-mobile.jpg"
                alt="Cat Energy Pro Курица 500г"
                class="basic-goods__image"
            >

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Pro 1000 г</h3>
            <img
                src="images/products/cat-energy-pro-chicken-1000g-mobile.jpg"
                alt="Cat Energy Pro Курица 1000г"
                class="basic-goods__image"
            >

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Pro 500 г</h3>
            <img
                src="images/products/cat-energy-pro-fish-500g-mobile.jpg"
                alt="Cat Energy Pro Рыба 500г"
                class="basic-goods__image"
            >

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Pro 1000 г</h3>
            <img
                src="images/products/cat-energy-pro-fish-1000g-mobile.jpg"
                alt="Cat Energy Pro Рыба 1000г"
                class="basic-goods__image"
            >

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Slim 500 г</h3>
            <img
                src="images/products/cat-energy-slim-buckwheat-500g-mobile.jpg"
                alt="Cat Energy Slim Гречка 500г"
                class="basic-goods__image"
            >

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Slim 1000 г</h3>

            <img
                src="images/products/cat-energy-slim-buckwheat-1000g-mobile.jpg"
                alt="Cat Energy Slim Гречка 1000г"
                class="basic-goods__image"
            >

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="basic-goods__item">
            <h3 class="basic-goods__title">Cat Energy Slim 500 г</h3>

            <img
                src="images/products/cat-energy-slim-rice-500g-mobile.jpg"
                alt="Cat Energy Slim Рис 500г"
                class="basic-goods__image"
            >

            <table class="basic-goods__data">
                <tbody>
                    <tr>
                        <td>Объём</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Вкус</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="basic-goods__show-more">
            <!-- изображение плюса (svg) -->

            <p>Показать ещё 100500 товаров</p>
            <p>На самом деле вкусов гораздо больше!</p>
            <button type="button" class="button button--grey">Показать все</button>
        </li>
    </ul>
</section>

<section class="extra-goods">
    <h2 class="extra-goods__title">Дополнительные товары</h2>

    <ul class="extra-goods__list">
        <li class="extra-goods__item">
            <table>
                <tbody>
                    <tr>
                        <th class="extra-goods__title">Сахарозаменитель</th>
                    </tr>
                    <tr>
                        <td>1 упаковка (100 г)</td>
                        <td>100 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="extra-goods__item">
            <table>
                <tbody>
                    <tr>
                        <th class="extra-goods__title">Питьевая вода</th>
                    </tr>
                    <tr>
                        <td>5 литров</td>
                        <td>50 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="extra-goods__item">
            <table>
                <tbody>
                    <tr>
                        <th class="extra-goods__title">Молоко</th>
                    </tr>
                    <tr>
                        <td>1 литр</td>
                        <td>100 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>

        <li class="extra-goods__item">
            <table>
                <tbody>
                    <tr>
                        <th class="extra-goods__title">Витамины</th>
                    </tr>
                    <tr>
                        <td>1 упаковка (30 г)</td>
                        <td>300 Р.</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="button">Заказать</button>
        </li>
    </ul>
</section>
{% endblock %}
