.achievement {
    position: relative;

    padding: 0.71em 0 0.9em;

    border: 1px solid $border-3-color;
    border-radius: 3px;
}

.achievement__text {
    font-family: $secondary-font;
    font-size: 1.71em;
    color: $on-background-label-color;
    text-align: center;
    text-transform: uppercase;
}

.achievement__legend {
    position: absolute;
    top: 3.92em;    // не bottom, чтобы текст переносился вниз
    left: 50%;

    width: 0;

    font-size: .855em;
    line-height: 1;
    text-align: center;
}

.achievement__legend-text {
    display: inline-block;

    padding: 0 17px;

    background: $secondary-background-color;
    transform: translateX(-50%);

    @media (min-width: $tablet-min-width) {
        padding: 0 0.57em;

        font-size: 0.875em;

        background: $primary-background-color;
    }
}
