.basic-goods {
    padding-top: 2.93em;

    box-sizing: border-box;
    max-width: $desktop-min-width;
    margin: auto;

    @media (min-width: $tablet-min-width) {
        padding: 10.31em var(--hpadding) 0;
    }
}

.basic-goods__list {
    @extend %custom-list;

    display: grid;

    border-bottom: 1px solid $border-1-color;

    @media (min-width: $tablet-min-width) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 140px 60px;

        border: none;
    }

    @media (min-width: $desktop-min-width) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 143px 80px;

        padding: 0;
    }
}

.basic-goods__item {
    position: relative;

    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: 5.3em 5em;
    grid-template-areas:
        "image title"
        "image data"
        "button button";

    padding: 0 var(--hpadding) 1.71em;

    border-top: 1px solid $border-1-color;

    @media (min-width: $tablet-min-width) {
        grid-template-columns: initial;
        grid-template-rows: 126px 4.81em 7.19em 4.56em;
        grid-template-areas:
            "image"
            "title"
            "data"
            "button";
        align-items: end;

        padding: 0 38px 2.5em;

        background: $secondary-background-color;
        border: none;
    }
}

.basic-goods__title {
    grid-area: title;

    width: 73px;
    margin: 1.38em 0 0;

    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1.14em;
    line-height: 1.25;
    color: $on-background-label-color;
    text-transform: uppercase;

    br:nth-child(2) {
        display: none;
    }

    @media (min-width: $tablet-min-width) {
        width: auto;
        margin: 0;

        font-size: 1.25em;
        line-height: 1;
        text-align: center;

        br:nth-child(1) {
            display: none;
        }

        br:nth-child(2) {
            display: block;
        }
    }
}

.basic-goods__data {
    grid-area: data;

    border-collapse: collapse;

    font-size: 0.86em;
    line-height: 1.2;

    td:last-child {
        text-align: right;
    }

    @media (min-width: $tablet-min-width) {
        font-size: 1em;
        line-height: 1.85;

        tr {
            border-bottom: 1px solid $border-3-color;
        }
    }
}

.basic-goods__image {
    grid-area: image;

    @media (min-width: $tablet-min-width) {
        position: absolute;
        right: 0;
        left: 0;

        margin: 0 -38px;

        line-height: 0;
        text-align: center;
    }
}

.basic-goods__button {
    grid-area: button;
}

.basic-goods__show-more {
    display: flex;
    flex-direction: column;

    padding: 1.86em var(--hpadding) 1.71em;

    text-align: center;

    border-top: 1px solid $border-1-color;
    background: url(../images/icons/catalog/plus30.svg) center 1.85em / 2.14em no-repeat;

    @media (min-width: $tablet-min-width) {
        padding: 3.44em 38px 2.5em;

        background: url(../images/icons/catalog/plus60.svg) center 3.44em / 3.75em no-repeat;
        border: 1px solid $border-1-color;
    }
}

.basic-goods__smtext {
    @extend .basic-goods__title;

    width: auto;
    margin-top: 3.4em;

    br {
        display: none;
    }

    @media (min-width: $tablet-min-width) {
        margin-top: 5.4em;

        br:nth-child(1) {
            display: block;
        }
    }
}

.basic-goods__smdescription {
    margin: 0.75em 0 1.75em;

    font-size: 0.86em;

    br {
        display: none;
    }

    @media (min-width: $tablet-min-width) {
        margin: 1.6em 0 auto;

        font-size: 1em;
        line-height: 1.25;

        br {
            display: block;
        }
    }
}
