.brand {
    padding: 2.79em 0 2.21em;

    line-height: 0;
    text-align: center;

    a[href]:hover {
        opacity: 0.8;
    }

    a[href]:active {
        opacity: 0.6;
    }

    @media (min-width: $tablet-min-width) {
        justify-self: start;

        padding: 0;
    }
}
