.button {
    display: block;

    padding: 0.785em 0;

    font-family: $secondary-font;
    color: $on-primary-color;
    text-align: center;
    text-transform: uppercase;

    background: $primary-color;

    @media (min-width: $tablet-min-width) {
        display: table;

        padding: 0.5em 1.4em 0.6em;

        font-size: 1.25em;
    }
}

a.button {
    text-decoration: none;
}

button.button {
    width: 100%;

    border: none;
}
