.button {
    display: block;

    padding: 0.69em 0;

    font-family: $secondary-font;
    font-size: 1.14rem;
    color: $on-primary-color;
    text-align: center;
    text-transform: uppercase;

    background: $primary-color;

    @media (min-width: $tablet-min-width) {
        display: table;

        padding: 0.69em 1.4em;

        font-size: 1.25rem;
    }
}

a.button {
    text-decoration: none;
}

button.button {
    width: 100%;

    border: none;
}

.button--grey {
    color: $on-background-color;

    background: $secondary-background-color;
}

.index .button {
    padding: 0.86em 0;

    font-size: 1rem;
}

.catalog .button {
    @media (min-width: $tablet-min-width) {
        font-size: 1rem;
    }
}
