.contacts {
    position: relative;

    padding-top: 2em;

    @media (min-width: $tablet-min-width) {
        padding-top: 3.88em;
    }

    @media (min-width: $desktop-min-width) {
        padding: 0;
    }
}

.contacts__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    padding: 0 var(--hpadding);

    @media (min-width: $desktop-min-width) {
        position: absolute;
        top: 50%;
        left: calc((100% - #{$desktop-min-width}) / 2 + var(--hpadding));

        width: 570px;
        padding: 4.06em 4.75em 3.81em;

        background: $primary-background-color;
        transform: translateY(-50%);
    }
}

.contacts__label {
    font-family: $secondary-font;
    font-size: 1.15em;
    color: $on-background-label-color;
    text-transform: uppercase;

    @media (min-width: $tablet-min-width) {
        font-size: 1.25em;
        line-height: 1.25;
    }
}

.contacts__address {
    font-style: normal;
    line-height: 1.43;

    @media (min-width: $tablet-min-width) {
        align-self: end;

        line-height: 1.25;
        text-align: right;
    }

    @media (min-width: $desktop-min-width) {
        align-self: auto;
        text-align: unset;
    }
}

.contacts__br {
    @media (max-width: $tablet-min-width - 1) {
        display: none;
    }
}

.contacts__map {
    display: block;

    margin-top: 1.86em;

    background: $map-background-color;

    line-height: 0;
    text-align: center;

    @media (min-width: $tablet-min-width) {
        margin-top: 3.44em;
    }

    @media (min-width: $desktop-min-width) {
        margin: 0;
    }
}
