.content-header {
    padding: 27px 20px 0;

    background: url(../images/index-background-mobile.jpg) no-repeat;
}

.content-header__slogan {
    display: block;

    margin-top: 23px;

    font-family: $secondary-font;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.content-header__product-image {
    display: block;

    margin-top: 26px;
}
