.diets {
    padding: 0 $mobile-hpadding;
    margin-top: 1.6em;

    @media (min-width: $tablet-min-width) {
        padding: 0 $tablet-hpadding;
        margin: 0;
    }
}

.diets__list {
    @extend %custom-list;

    li + li {
        margin-top: 1.4em;
    }

    @media (min-width: $tablet-min-width) {
        li + li {
            margin-top: 1.875em;
        }
    }
}

.diets__item {
    position: relative;

    padding: 2.4em 20px 1.4em;

    background: $secondary-background-color;

    @media (min-width: $tablet-min-width) {
        padding: 4.25em 52px 3.56em;
    }
}

.diets__item--slim {
    .diets__icon {
        &::after {
            top: -6%;
            left: 15%;

            width: 70%;
            height: 97%;

            background-image: url(../images/icons/diets/slim.svg);
        }
    }

    @media (min-width: $tablet-min-width) {
        padding-right: 285px;
    }
}

.diets__item--pro {
    .diets__icon {
        &::after {
            top: 22%;
            left: -18%;

            width: 134%;
            height: 56%;

            background-image: url(../images/icons/diets/pro.svg);
        }
    }

    @media (min-width: $tablet-min-width) {
        padding-right: 316px;
    }
}

.diets__icon {
    position: absolute;

    top: 25px;
    left: 22px;

    width: 50px;
    height: 50px;

    background: $primary-color;
    border-radius: 50%;

    &::after {
        content: '';

        position: absolute;

        background: no-repeat;
    }

    @media (min-width: $tablet-min-width) {
        top: 90px;
        right: 60px;
        left: auto;

        width: 200px;
        height: 200px;
    }
}

.diets__title {
    padding-left: 71px;
    margin: 0;

    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1.7em;
    color: $on-secondary-label-color;
    text-transform: uppercase;

    @media (min-width: $tablet-min-width) {
        padding: 0;

        font-size: 2.25em;
    }
}

.diets__description {
    margin: 2.25em 0 0;

    @media (min-width: $tablet-min-width) {
        margin-top: 1em;
    }
}

.diets__link {
    display: block;

    padding-top: 1.1em;
    margin-top: 1.4em;

    font-family: $secondary-font;
    font-size: 1.15em;
    color: $on-secondary-label-color;
    text-decoration: none;
    text-transform: uppercase;

    border-top: 1px solid $border-2-color;

    &::after {
        content: '';

        display: inline-block;

        width: 1.2em;
        height: 0.55em;
        margin-left: 12px;

        vertical-align: 1px;

        background: url(../images/characters/arrow-long-right.svg) no-repeat;
    }

    @media (min-width: $tablet-min-width) {
        margin-top: 2.55em;
        padding: 0;

        font-size: 1.2em;

        border: none;

        &::after {
            margin-left: 1.25em;

            vertical-align: 0.15em;
        }
    }
}
