.difference__images {
    position: relative;

    height: 240px;

    line-height: 0;
}

.difference__before,
.difference__after {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
}

.difference__before {
    clip: rect(auto, 160px, auto, 0);
}

.difference__after {
    clip: rect(auto, auto, auto, 160px);
}

.difference__control {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    margin-top: 2em;

    font-family: $secondary-font;
    font-size: 1.15em;
    color: $on-secondary-label-color;
    text-transform: uppercase;

    label:first-child {
        justify-self: end;
    }
}

.difference__original-range {
    display: none;
}

.difference__custom-range {
    // justify-self: center;
    width: 72px;
    height: 0.38em;
    padding: 0.19em 0.31em;
    margin: 0 19px;

    background: $primary-background-color;
    border: 1px solid $border-3-color;
    border-radius: 6px;

    &::before {
        content: '';

        display: block;

        width: 50%;
        height: 100%;

        background: $primary-color;
        border-radius: 3px;
    }

    @media (min-width: $tablet-min-width) {
        top: 0;

        width: 55.9%;
        height: 0.375em;

        background: #dcdcdc;
        border: none;

        &::before {
            position: absolute;

            width: 2em;
            height: 2em;

            background: $primary-color;
            border: 1px solid $border-3-color;
            border-radius: 50%;
            box-shadow:
                0 0.125em 0.31em rgba(0, 0, 0, 0.15),
                inset 0 0 0 0.75em $primary-background-color;
            transform: translateY(-50%);
        }
    }
}
