.drawer-button {
    @extend %custom-button;

    position: relative;

    width: 1.2em;
    height: 1.2em;

    outline: none;
}

%drawer-button__icon-line {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    margin: auto;

    background: #000;
    transition: all 1s;
}

.drawer-button__icon {
    @extend %drawer-button__icon-line;

    height: 8.35%;

    &::before,
    &::after {
        @extend %drawer-button__icon-line;

        content: '';

        left: 0;

        height: 100%;
    }

    &::before {
        bottom: 800%;
    }

    &::after {
        top: 800%;
    }

    .drawer-button--close & {
        background: #fff;
        transform: rotate(180deg);

        &::before {
            bottom: 0;
            transform: rotate(-45deg);
        }

        &::after {
            top: 0;
            transform: rotate(-315deg);
        }
    }
}
