.example {
    padding: 1.7em $mobile-hpadding;
    margin-top: 42px;

    background: $example-bg-color;
}

.example__description {
    margin: 2.1em 0 0;
}

.example__cost {
    margin-top: 2.7em;

    font-family: $secondary-font;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.example__difference {
    margin-top: 35px;
}
