.example {
    padding: 1.71em var(--hpadding) 2.57em;

    background: $secondary-background-color;

    @media (min-width: $tablet-min-width) {
        padding: 0 0 0;

        background: none;
        border: 1px solid $border-1-color;

        & > *:not(.example__difference) {
            padding: 0 $tablet-hpadding;
        }
    }
}

.example__description {
    margin: 2.1em 0 0;

    @media (min-width: $tablet-min-width) {
        margin: 0;
    }
}

.example__div {
    @media (min-width: $tablet-min-width) {
        display: flex;
        align-items: center;
    }
}

.example__achievement-list {
    @extend %custom-list;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;

    margin-top: 1.8em;

    @media (min-width: $tablet-min-width) {
        flex-basis: 51.8%;
        margin-top: 0;
    }
}

.example__cost {
    margin-top: 2.5em;

    font-family: $secondary-font;
    color: $on-secondary-label-color;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-min-width) {
        flex: 1;
        margin-top: 0;

        font-size: 1.25em;
        text-align: right;

        span {
            display: block;
        }
    }
}

.example__difference {
    margin-top: 2.5em;

    @media (min-width: $tablet-min-width) {
        margin-top: 0;
    }
}
