.example {
    position: relative;

    padding: 1.71em var(--hpadding) 2.57em;

    background: $secondary-background-color;

    @media (min-width: $tablet-min-width) {
        padding: 1.75em 0 0;

        background: none;
        border-top: 1px solid $border-1-color;

        &::before,
        &::after {
            content: '';

            position: absolute;
            right: 0;
            bottom: 0;

            height: 462px;
        }

        &::before {
            left: 0;
            z-index: -2;

            background: $secondary-background-color;
        }

        &::after {
            left: 50%;
            z-index: -1;

            background: $secondary-background-dark-color;
        }

        > *:not(.example__difference) {
            padding: 0 var(--hpadding);
        }
    }

    @media (min-width: $desktop-min-width) {
        padding: 0;
        margin: 0;

        border: none;

        &::after {
            left: calc(50% + 325px);
        }

        .container {
            display: grid;
            grid-template-rows: 16.31em 10.25em 14.19em;
            grid-template-columns: 650px auto;
            align-items: start;

            box-sizing: border-box;
            max-width: $desktop-min-width;
            margin: auto;
        }
    }
}

.example__section-title {
    @media (min-width: $desktop-min-width) {
        padding-top: 40px;
    }
}

.example__description {
    margin: 2.1em 0 0;

    @media (min-width: $tablet-min-width) {
        margin-top: 3.06em;
    }

    @media (min-width: $desktop-min-width) {
        width: 432px;
        margin: 0;
    }
}

.example__div {
    @media (min-width: $tablet-min-width) {
        display: flex;
        align-items: center;

        margin-top: 3.31em;
    }

    @media (min-width: $desktop-min-width) {
        margin: 0;
    }

    @media (min-width: $desktop-min-width) {
        display: block;
    }
}

.example__achievement-list {
    @extend %custom-list;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;

    margin-top: 1.8em;

    @media (min-width: $tablet-min-width) {
        grid-template-columns: 162px 162px;
        grid-gap: 42px;

        margin-top: 0;
    }
}

.example__cost {
    margin-top: 2.5em;

    font-family: $secondary-font;
    color: $on-secondary-label-color;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-min-width) {
        flex: 1;

        margin-top: 0;

        font-size: 1.25em;
        text-align: right;

        span {
            display: block;
        }
    }

    @media (min-width: $desktop-min-width) {
        margin-top: 2.75em;

        text-align: left;

        span {
            display: unset;
        }

        span:nth-child(2) {
            margin-left: 60px;
        }
    }
}

.example__difference {
    margin-top: 2.5em;

    @media (min-width: $tablet-min-width) {
        margin-top: 5.38em;
    }

    @media (min-width: $desktop-min-width) {
        margin-top: 0;

        grid-area: 1 / 2 / 4 / 3;
    }
}
