.explanation {
    padding: 1.715em var(--hpadding) 3em;

    @media (min-width: $tablet-min-width) {
        padding-top: 1.875em;
    }
}

.explanation__list {
    @extend %custom-list;

    display: grid;
    grid-auto-rows: 60px;
    grid-gap: 20px;

    margin-top: 2.36em;

    @media (min-width: $tablet-min-width) {
        grid-auto-rows: 287px;
        grid-template-columns: 50% 1fr;
        grid-gap: 30px;

        margin-top: 3.56em;

        counter-reset: adventages;
    }
}

.explanation__item {
    position: relative;

    width: 236px;
    padding: 0.215em 0 0 81px;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        // Ширина фиксирована, потому что изображения в формате png (не скалируются)
        width: 60px;
        height: 60px;

        background: $primary-color center no-repeat;
    }

    @media (min-width: $tablet-min-width) {
        padding: 112px 0 0;

        &::before {
            width: 80px;
            height: 80px;
        }

        &::after {
            counter-increment: adventages;
            content: counter(adventages);

            position: absolute;
            top: -0.392em;
            left: 113px;
            z-index: -1;

            width: 0.484em;

            font-family: $secondary-font;
            font-size: 17.56em;
            color: $secondary-background-color;
            text-align: center;
        }
    }
}

.explanation__item--leaf {
    &::before {
        background-image: url(../images/icons/explanation/leaf.png);
    }
}

.explanation__item--chemistry {
    &::before {
        background-image: url(../images/icons/explanation/chemistry.png);
    }
}

.explanation__item--cutlery {
    &::before {
        background-image: url(../images/icons/explanation/cutlery.png);
    }
}

.explanation__item--clock {
    &::before {
        background-image: url(../images/icons/explanation/clock.png);
    }
}
