.explanation {
    padding: 1.715em $mobile-hpadding 3em;

    @media (min-width: $tablet-min-width) {
        padding: 1.875em $tablet-hpadding 0;
    }
}

.explanation__list {
    @extend %custom-list;

    margin-top: 2.355em;

    @media (min-width: $tablet-min-width) {
        display: grid;
        grid-template-columns: 34.6% 34.6%;
        grid-column-gap: 15.4%;
        grid-row-gap: 8.31em;

        margin: 3.56em 0 6.375em;

        counter-reset: adventages;
    }
}

.explanation__item {
    position: relative;

    display: flex;    // TODO: Определить, нужно оно здесь или нет

    box-sizing: border-box;
    min-height: 60px;
    padding: 0.215em 0 0 81px;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        // Ширина фиксирована, потому что изображения в формате png (не скалируются)
        width: 60px;
        height: 60px;

        background: $primary-color center no-repeat;
    }

    & + & {
        margin-top: 1.43em;
    }

    @media (min-width: $tablet-min-width) {
        padding: 112px 0 0;

        &::before {
            width: 80px;
            height: 80px;
        }

        &::after {
            counter-increment: adventages;
            content: counter(adventages);

            position: absolute;
            top: -0.145em;
            left: 48%;
            z-index: -1;

            font-family: $secondary-font;
            font-size: 17.56em;
            line-height: 1;
            color: $secondary-color;
        }

        & + & {
            margin: 0;
        }
    }
}

.explanation__item--leaf {
    &::before {
        background-image: url(../images/icons/explanation/leaf.png);
    }
}

.explanation__item--chemistry {
    &::before {
        background-image: url(../images/icons/explanation/chemistry.png);
    }
}

.explanation__item--cutlery {
    &::before {
        background-image: url(../images/icons/explanation/cutlery.png);
    }
}

.explanation__item--clock {
    &::before {
        background-image: url(../images/icons/explanation/clock.png);
    }
}
