.extra-goods {
    position: relative;

    padding: 1.79em 0 2.5em;

    @media (min-width: $tablet-min-width) {
        padding: 3.63em 0 4.75em;
    }

    @media (min-width: $desktop-min-width) {
        padding: 4.13em 0 5.38em;

        .container {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 80px;

            box-sizing: border-box;
            max-width: $desktop-min-width;
            padding: 4.44em var(--hpadding) 0;
            margin: 0 auto;
        }
    }
}

.extra-goods__heading {
    max-width: $desktop-min-width;
    margin: 0 auto;

    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1.71em;
    color: $on-background-label-color;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;

        height: 3px;

        background: $primary-color;
    }

    span {
        padding: 0 23px;

        background: $primary-background-color;
    }

    @media (min-width: $tablet-min-width) {
        font-size: 2.25em;

        &::before {
            top: 0;
        }

        span {
            padding: 0 37px;
        }
    }

    @media (min-width: $desktop-min-width) {
        &::before {
            top: 2.69em;
            left: 0;
        }

        span {
            padding: 0 var(--hpadding);
        }
    }
}

.extra-goods__list {
    @extend %custom-list;

    padding: 0 var(--hpadding);
    margin-top: 2.14em;

    @media (min-width: $tablet-min-width) {
        margin-top: 4.44em;
    }

    @media (min-width: $desktop-min-width) {
        padding: 0;
        margin: 0;
    }
}

.extra-goods__item {
    display: grid;
    grid-template-rows: 2.07em 2.21em;
    grid-template-areas:
        "title title"
        "size price"
        "button button";

    padding: 0.79em 0 1.25em;

    border-top: 1px solid $border-3-color;

    &:last-child {
        border-bottom: 1px solid $border-3-color;
    }

    @media (min-width: $tablet-min-width) {
        grid-template-rows: 49px;
        grid-template-columns: auto auto 95px;
        grid-template-areas:
            "title size price"
            "button button button";

        padding: 1.38em 38px 1.69em;

        border-right: 1px solid $border-3-color;
        border-left: 1px solid $border-3-color;
    }

    @media (min-width: $desktop-min-width) {
        grid-template-rows: initial;
        grid-template-columns: 326px 244px 80px 245px;
        grid-template-areas: "title size price button";
        align-items: center;

        padding: 0.94em 0 0.99em;

        border-right: none;
        border-left: none;
    }
}

.extra-goods__title {
    grid-area: title;

    margin: 0;

    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1.14em;
    color: $on-background-label-color;
    text-transform: uppercase;

    @media (min-width: $tablet-min-width) {
        font-size: 1.25em;
    }

    @media (min-width: $desktop-min-width) {
        margin-left: 2px;
    }
}

.extra-goods__size {
    grid-area: size;

    @media (min-width: $tablet-min-width) {
        justify-self: end;
    }

    @media (min-width: $desktop-min-width) {
        justify-self: start;
    }
}

.extra-goods__price {
    grid-area: price;

    @media (min-width: $tablet-min-width) {
        justify-self: end;
    }

    @media (min-width: $desktop-min-width) {
        justify-self: start;
    }
}

.extra-goods__button {
    grid-area: button;
}

.extra-goods__promotion {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 289px;
    padding: 0 var(--hpadding);
    margin-top: 2.44em;

    font-size: 1.14em;
    line-height: 1.25;
    color: $on-primary-color;
    text-align: center;

    background:
        url(../images/icons/promotion/gift-icon.svg) center 65px no-repeat,
        url(../images/promotion-background-mobile.jpg) center no-repeat;

    span {
        margin-bottom: 42px;
    }

    @media (min-width: $tablet-min-width) {
        align-items: center;
        justify-content: flex-start;

        height: 200px;
        margin-top: 4.31em;

        font-size: 1em;
        text-align: left;

        background:
            url(../images/icons/promotion/gift-icon.svg) 90px center no-repeat,
            url(../images/promotion-background-tablet.jpg) center no-repeat;

        span {
            margin: 0 0 0 423px;
        }
    }

    @media (min-width: $desktop-min-width) {
        align-items: flex-end;
        justify-content: center;

        width: 245px;
        height: 289px;
        padding: 0;
        margin: 0;

        text-align: center;

        background:
            url(../images/icons/promotion/gift-icon.svg) center 65px no-repeat,
            url(../images/promotion-background-desktop.jpg) center no-repeat;

        span {
            margin: 0 0 2.63em;
        }
    }
}
