.form {
    padding: 2.71em 0 0;
}

.form__form {
    font-family: $secondary-font;
    color: #222;
}

.form__description {
    padding: 0 var(--hpadding);
    margin: 0;

    font-family: $secondary-font;
    text-transform: uppercase;
}

.form__section {
    padding: 0 var(--hpadding);

    border: none;
}

.form__section--full-name {
    margin-top: 2.79em;
}

.form__section--diets {
    padding: 1.86em var(--hpadding);
    margin-top: 1.64em;

    border-top: 1px solid $border-1-color;
    border-bottom: 1px solid $border-1-color;
}

.form__section--w-legend {
    padding-top: 2.3em;
    margin-top: 2.07em;

    border-top: 3px solid $primary-color;

    legend {
        padding: 0 21px;
        margin-left: -20px;

        font-size: 1.71em;
        line-height: 1;
        color: $on-background-label-color;
    }
}

.form__label {
    display: flex;
    align-items: center;

    font-size: 1.14em;
    text-transform: uppercase;

    & + & {
        margin-top: 14px;
    }
}

.form__input {
    flex: 1;

    padding: 0.75em 14px 0.81em;
    margin-left: 16px;

    text-transform: uppercase;

    border: 1px solid $border-1-color;

    &::placeholder {
        color: $on-background-color;
    }
}
