.navbar {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.43em;
    color: $menu-font-color;
    text-transform: uppercase;

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 var(--hpadding);

        font-weight: 400;
        font-size: 1.125em;
    }
}

%mobile-navbar-item {
    @media (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        height: 3.3em;
        padding: 0 var(--hpadding);

        border-bottom: 1px solid $border-color-1;
    }
}

.navbar__brand {
    @extend %mobile-navbar-item;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    background: $background-color;

    @media (min-width: 768px) {
        display: block;

        height: auto;
        padding: 0;

        border: none;

        &::after {
            content: none;
        }
    }
}

.navbar__brand-image {
    img {
        width: auto;
        height: 1.9em;
    }

    @media (min-width: 768px) {
        width: auto;

        img {
            height: 3.625em;
        }
    }
}

.navbar__brand-heading {
    justify-self: center;

    width: auto;
    height: 0.9em;

    @media (min-width: 768px) {
        display: none;
    }
}

.navbar__drawer-button {
    display: none;
    justify-self: end;

    cursor: pointer;    // Мало ли в боковой панели Vivaldi сайт будет запускаться

    @media (max-width: 767px) {
        display: block;
    }

    .nojs & {
        display: none;
    }
}

.navbar__menu {
    @extend %custom-list;

    position: relative;
    z-index: -1;

    li {
        @extend %mobile-navbar-item;
    }

    @media (max-width: 767px) {
        transition: margin-top 1s;
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        margin-left: 12.5%;
    }
}

.navbar__menu[aria-expanded="false"] {
    @media (max-width: 767px) {
        margin-top: -9.9em;
    }
}
