%mobile-navbar-item {
    @media (max-width: $tablet-min-width - 1) {
        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        height: 3.3em;
        padding: 0 var(--hpadding);

        border-bottom: 1px solid $border-1-color;
    }
}

.navbar {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.43em;
    color: $menu-font-color;
    text-transform: uppercase;

    @media (min-width: $tablet-min-width) {
        display: grid;
        grid-auto-flow: column;
        align-items: center;

        font-weight: 400;
        font-size: 1.125em;
    }

    @media (min-width: $desktop-min-width) {
        font-size: 1.25em;
        color: $on-primary-color;
    }
}

.navbar__brand {
    @extend %mobile-navbar-item;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    background: $primary-background-color;    // скрывает меню в свернутом состоянии

    @media (min-width: $tablet-min-width) {
        display: block;
    }
}

.navbar__brand-image {
    img {
        height: 1.9em;
    }

    @media (min-width: $tablet-min-width) {
        img {
            height: 3.22em;
        }
    }
}

.navbar__brand-heading {
    justify-self: center;

    height: 0.9em;

    @media (min-width: $tablet-min-width) {
        display: none;
    }
}

.navbar__drawer-button {
    justify-self: end;

    cursor: pointer;    // мало ли в боковой панели Vivaldi сайт будет запускаться

    &[aria-expanded] {
        display: block;
    }
}

.navbar__menu {
    @extend %custom-list;

    position: relative;
    z-index: -1;

    li {
        @extend %mobile-navbar-item;
    }

    @media (min-width: $tablet-min-width) {
        justify-self: end;

        top: -1px;
        z-index: 0;

        display: grid;
        grid-auto-flow: column;
        grid-gap: 36px;
    }
}

.navbar__menu[aria-expanded="false"] {
    margin-top: -9.9em;
}

.navbar__menu-item--active {
    position: relative;

    @media (min-width: $tablet-min-width) {
        &::after {
            content: '';

            position: absolute;
            top: 1.83em;
            right: 0;
            left: 0;

            height: 2px;

            background: $primary-color;
        }
    }

    @media (min-width: $desktop-min-width) {
        &::after {
            background: #fff;
        }
    }
}
