.page-header {
    @media (min-width: $tablet-min-width) {
        padding: 1.335em var(--hpadding) 0;
    }
}

.page-header__heading {
    padding: 1.93em var(--hpadding) 0;

    background:
        url(../images/index-background-mobile.jpg) center 0 no-repeat,
        linear-gradient($primary-dark-color 305px, $primary-background-color 0);
}

// .page-header__page-title {
//     @media (min-width: $tablet-min-width) {
//         padding: 0 27.1% 0 12.7%;
//     }
// }

.page-header__slogan {
    margin-top: 1.715em;

    font-family: $secondary-font;
    color: $on-primary-color;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-min-width) {
        padding: 0 27.1% 0 12.7%;
        margin-top: 1.95em;

        font-size: 1.25em;
        color: $on-background-label-color;
        text-align: left;
    }
}

.page-header__product-image {
    display: block;

    margin-top: 1.855em;

    img {
        display: block;

        margin: 0 auto;
    }

    @media (min-width: $tablet-min-width) {
        margin: 1.06em 0 0;
    }
}

.page-header__show-diets-button {
    margin-top: 0.285em;

    @media (min-width: $tablet-min-width) {
        position: absolute;
        bottom: 529px;
    }
}

.page-header__show-diets-button-wrapper {
    @media (min-width: $tablet-min-width) {
        padding: 0 27.1% 0 12.7%;
    }
}
