.page-footer {
    background: $secondary-background-color;

    .container {
        box-sizing: border-box;
        max-width: $desktop-min-width;
        padding: 0 var(--hpadding);
        margin: auto;

        @media (min-width: $tablet-min-width) {
            display: grid;
            grid-template-columns: 162px auto 162px;
            align-items: center;

            padding: 3.69em var(--hpadding) 3.56em;
        }

        > * + * {
            border-top: 1px solid $border-2-color;

            @media (min-width: $tablet-min-width) {
                border: none;
            }
        }
    }
}
