.page {
    min-width: $mobile-min-width;

    font-family: $primary-font;
    font-size: 87.5%;
    line-height: 1.3;
    color: $on-background-color;

    @media (min-width: $tablet-min-width) {
        --hpadding: 30px;

        font-size: 100%;
        line-height: 1.5;
    }
}
