.page-header {
    @media (min-width: $tablet-min-width) {
        padding: 1.335em var(--hpadding) 0;
    }
}

.page-header__heading {
    padding: 1.93em var(--hpadding) 0;

    background:
        url(../images/index-background-mobile.jpg) center 0 no-repeat,
        linear-gradient($primary-dark-color 305px, $primary-background-color 0);

    @media (min-width: $tablet-min-width) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        padding: 3.25em 25vw 0 11.72vw;

        background: none;
    }
}

.page-header__slogan {
    margin-top: 1.715em;

    font-family: $secondary-font;
    color: $on-primary-color;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-min-width) {
        margin-top: 1.8em;

        font-size: 1.25em;
        color: $on-background-label-color;
        text-align: left;
    }
}

.page-header__product-image {
    display: block;

    margin-top: 1.855em;

    img {
        display: block;

        margin: 0 auto;
    }

    @media (min-width: $tablet-min-width) {
        z-index: -1;
        order: 1;

        margin: -5.25em -25vw 0 -11.72vw;
    }
}

.page-header__show-diets-button {
    margin-top: 0.285em;

    @media (min-width: $tablet-min-width) {
        margin-top: 2.15em;
    }
}
