.socnets__list {
    @extend %custom-list;

    display: grid;
    grid-auto-flow: column;
    grid-gap: 34px;
    justify-content: center;

    padding: 1.43em 0;

    @media (min-width: $tablet-min-width) {
        padding: 0;

        grid-gap: 25px;
    }
}

.socnets__link {
    display: block;

    width: 1.57em;
    height: 1.57em;

    &:active {
        opacity: 0.3;
    }

    @media (min-width: $tablet-min-width) {
        width: 1.88em;
        height: 1.88em;
    }
}

.socnets__link--vkontakte {
    background: url(../images/icons/socnets/vkontakte.svg) center no-repeat;

    &:hover {
        background-image: url(../images/icons/socnets/vkontakte-green.svg);
    }
}

.socnets__link--instagram {
    background: url(../images/icons/socnets/instagram.svg) center / 1.14em no-repeat;

    &:hover {
        background-image: url(../images/icons/socnets/instagram-green.svg);
    }

    @media (min-width: $tablet-min-width) {
        background-size: 1.44em;
    }
}

.socnets__link--facebook {
    background: url(../images/icons/socnets/facebook.svg) center / 0.71em no-repeat;

    &:hover {
        background-image: url(../images/icons/socnets/facebook-green.svg);
    }

    @media (min-width: $tablet-min-width) {
        background-size: 0.88em;
    }
}
