.socnets__list {
    @extend %custom-list;

    display: grid;
    grid-auto-flow: column;
    grid-gap: 34px;
    justify-content: center;

    padding: 1.43em 0;
}

.socnets__link {
    display: block;

    width: 1.57em;
    height: 1.57em;
}

.socnets__link--vkontakte {
    background: url(../images/icons/socnets/vkontakte.svg) center/1.57em 0.86em no-repeat;
}

.socnets__link--instagram {
    background: url(../images/icons/socnets/instagram.svg) center/1.14em 1.14em no-repeat;
}

.socnets__link--facebook {
    background: url(../images/icons/socnets/facebook.svg) center/0.71em 1.36em no-repeat;
}
