{% extends "page.html" %}

{% block header %}
<header class="page-header">
    <div class="container">
        {% include "navbar.html" %}

        <div class="page-header__heading">
            <h1 class="page-title page-title--index">Функциональное питание для котов</h1>
            <div class="page-header__slogan">Занялся собой? Займись котом!</div>

            <picture class="page-header__product-image">
                <source media="(min-width: 1300px)" srcset="images/products/cat-energy-pro-chicken-0p-500g-desktop.png">
                <source media="(min-width: 768px)" srcset="images/products/cat-energy-pro-chicken-0p-500g-tablet.jpg">
                <img src="images/products/cat-energy-pro-chicken-0p-500g-mobile.png" alt="Cat Energy Pro Курица 0% Natural 500 г">
            </picture>

            <a href="diet-form.html" class="button page-header__show-diets-button">Подобрать программу</a>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<main>
    <section class="diets">
        <h2 class="section-title visually-hidden">Программы питания</h2>

        <ul class="diets__list">
            <li class="diets__item diets__item--slim">
                <h3 class="diets__title">Похудение</h3>

                <p class="diets__description">
                    Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat
                    Energy Slim поможет вашему питомцу сбросить лишний вес.
                </p>

                <a href="" class="diets__link">Каталог Slim</a>
                <div class="diets__icon"></div>
            </li>

            <li class="diets__item diets__item--pro">
                <h3 class="diets__title">Набор массы</h3>

                <p class="diets__description">
                    Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту
                    нарастить необходимые мышцы!
                </p>

                <a href="" class="diets__link">Каталог Pro</a>
                <div class="diets__icon"></div>
            </li>
        </ul>
    </section>

    <section class="explanation">
        <h2 class="section-title">Как это работает</h2>

        <ul class="explanation__list">
            <li class="explanation__item explanation__item--leaf">
                Функциональное питание содержит только полезные питательные вещества.
            </li>

            <li class="explanation__item explanation__item--chemistry">
                Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
            </li>

            <li class="explanation__item explanation__item--cutlery">
                Замените один-два приема обычной еды на наше функциональное питание.
            </li>

            <li class="explanation__item explanation__item--clock">
                Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!
            </li>
        </ul>
    </section>

    <section class="example">
        <div class="container">
            <h2 class="section-title example__section-title">Живой пример</h2>

            <p class="example__description">
                Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат
                без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
            </p>

            <div class="example__div">
                <ul class="example__achievement-list">
                    <li class="achievement">
                        <div class="achievement__text">5 кг</div>

                        <div class="achievement__legend">
                            <span class="achievement__legend-text">снижение<br> веса</span>
                        </div>
                    </li>

                    <li class="achievement">
                        <div class="achievement__text">60 дней</div>

                        <div class="achievement__legend">
                            <span class="achievement__legend-text">затрачено<br> времени</span>
                        </div>
                    </li>
                </ul>

                <div class="example__cost">
                    <span>Затраты на питание:</span>
                    <span>15 000 руб.</span>
                </div>
            </div>

            <div class="example__difference difference">
                <div class="difference__images">
                    <picture class="difference__before">
                        <source media="(min-width: 768px)" srcset="images/before-tablet.png">
                        <img src="images/before-mobile.png" alt="Борис до диеты">
                    </picture>

                    <picture class="difference__after">
                        <source media="(min-width: 768px)" srcset="images/after-tablet.png">
                        <img src="images/after-mobile.png" alt="Борис после диеты">
                    </picture>
                </div>

                <div class="difference__control">
                    <label for="difference-range">Было</label>
                    <input type="range" class="difference__original-range" id="difference-range">
                    <div class="difference__custom-range"></div>
                    <label for="difference-range">Стало</label>
                </div>
            </div>
        </div>
    </section>

    <section class="contacts">
        <h2 class="section-title visually-hidden">Адрес</h2>

        <div class="contacts__data">
            <span class="contacts__label">Приглашаем к сотрудничеству дилеров!</span>

            <address class="contacts__address">
                ул. Большая<br>
                Конюшенная, д. 19/8<br>
                Санкт-Питербург
            </address>
        </div>

        <div class="contacts__map">
            <img src="images/map-mobile.jpg" alt="Карта офиса «Cat Energy»">
        </div>
    </section>
</main>
{% endblock %}
