<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} :: {{ siteTitle }}</title>
    <!-- TODO: Убрать в отдельный файл и заинклудить -->
    <style>
        .navbar__drawer-button {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="{{ pageIdName }} nojs">
    <header class="page-header">
        <div class="container">
            {% include "navbar.html" %}

            {% block heading %}
            <div class="page-header__heading">
                <h1 class="page-title">{{ pageTitle }}</h1>
            </div>
            {% endblock %}
        </div>
    </header>

    <main>
        {% block main %}{% endblock %}
        {% include "contacts.html" %}
    </main>

    {% block footer %}{% include "page-footer.html" %}{% endblock %}

    <script src="js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</body>

</html>
