<nav class="navbar">
    <div class="navbar__brand">
        <a {% if pageIdName != "index" %} href="/" {% endif %} class="navbar__logo">
            <picture class="navbar__brand-image">
                <source media="(min-width: 1300px)" srcset="images/cat-energy-brand-desktop.svg">
                <source media="(min-width: 768px)" srcset="images/cat-energy-brand-tablet.svg">
                <img src="images/cat-energy-logo-mobile.svg" alt="Логотип Cat Energy">
            </picture>

            <img src="images/cat-energy-heading.svg" alt="Заголовок логотипа Cat Energy" class="navbar__brand-heading">
        </a>

        <button type="button" class="drawer-button navbar__drawer-button" id="drawer-button">
            {% include "drawer-button.svg" %}
        </button>
    </div>

    <ul class="navbar__menu" id="main-menu">
        {% for link in links %}
        {% if activeLink == loop.index %}
        <li><a class="navbar__link navbar__link--active">{{ link.title }}</a></li>
        {% else %}
        <li><a href="{{ link.url }}" class="navbar__link">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
